<html>
<head>
    
    <title>I'anser</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    {% block js %}{% endblock %}
    {% block css %}{% endblock %}
    
    <style>
    @font-face{
            font-family: 'surfer';
            src: url("{{ asset('fonts/ianser.ttf') }}");
        }

    @font-face{
            font-family: 'menu';
            src: url("{{ asset('fonts/MuseoSansCyrl.otf') }}");
        }
    
    body{
            margin: 0px;
            left: 0px;
            background-image: url("{{ asset('bg-patterns/tweed2X.png') }}");
            overflow: auto;
        }

    .noScroll{
        width: 100vw;
        height: 120px;
        background-color: transparent;
        display: flex;
        align-items:center;
        justify-content:center;
        z-index: 30;

    }

    .menuElement{flex-grow:1; height: auto; text-align: center; border-left: 1px solid grey; display: flex; align-items:center; justify-content:center; font-size: 20px; color: white;}

    #logo{text-align: center; width: 80%;}
    #logoSpan{font-size: 90px; font-family: surfer; color: white;}

    #chat{display: flex;}
    .chatelem{flex-grow:1;}
    #menus{display: flex; width: 100%; font-family: 'menu'; font-weight: 100; margin-right: 50px;}
    #content{margin-bottom: 100px;}

    a:link{color: white; text-decoration: none;}
    a:visited{color: white;}

    .menuElement:hover {background-color: white; color: grey !important;}
    .menuElement:hover span{color: grey !important;}

    .dropdown-toggle{background-color: transparent; }


    </style>
</head>
<body>

<div id="menuTop" class="noScroll">
        
    <div id="logo" ><span id="logoSpan">I' anser</span></div>

    <div id="menus" >
        <div id="chat" class="menuElement">
            <i class="fa fa-comments fa-2x chatelem" aria-hidden="true"></i><span class="chatelem">CHAT</span>
        </div>

        <div id="buscar" class="menuElement"><a href="{{ path('buscador_filtre') }}"><span>BUSCAR</span></div></a>

        <div id="misEventos" class="menuElement"><a href="{{ path('evento_llistar') }}"><span>ESDEVENIMENTS</span></a>
        </div>

        <!-- <div id="usuario" class="menuElement"><a href="{{ path('usuari_modificar', {'id':app.user.iduser}) }}"><span>EL MEU COMPTE</span></div></a> -->

        <div class="dropdown menuElement dropdown-toggle">
            <div class="dropdown-toggle" type="button" data-toggle="dropdown">
            El MEU COMPTE
            <span class="caret"></span></div>
            <ul class="dropdown-menu">
                <li><a href="{{ path('usuari_modificar', {'id':app.user.iduser}) }}">Modificar</a></li>
                <li><a href="{{ path('usuario_logout') }}">Logout</a></li>
            </ul>
        </div>
        

        <div id="info" class="menuElement"><i class="fa fa-info-circle fa-2x" aria-hidden="true"></i></div>
    </div>
</div>


    <div id="content">

        {% block body %}{% endblock %}

    <div>


</body>

</html>



















