{% extends '::base.html.twig' %}

{% block css %}

<style type="text/css">
	#content{
        width: 100vw;
        padding-top: 50px;
        display: flex;
        justify-content:center;
    }

	#nouEvento{
		z-index: 10;
	    background-color: white;
	    border: 1px solid grey;
	    left: calc(50vw - 650px);
	    top: 25vh;
	    border-radius: 5px;
	    -webkit-box-shadow: -1px 3px 36px 5px rgba(219,219,219,.7);
	    -moz-box-shadow: -1px 3px 36px 5px rgba(219,219,219,.7);
	    box-shadow: -1px 3px 36px 5px rgba(219,219,219,.7);
	    display: flex;
	    flex-direction:column;
	    max-width: 1300px;
	    max-height: 1300px;
	    min-height: 600px;
	    min-width: 600px;
	}

	h1{align-self:center; font-family: 'menu'; margin-top: 20px;}

	form{align-self:center; font-family: 'menu';
	 min-width: 1000px; max-width: 1000px; min-height: 500px; max-height: 500px;

	}

	.record_actions{align-self:center;}
	.record_actions:visited a{color:grey !important;}
	input{margin-top: 20px; float:right;}

	button,.tornarenrere{
		color: white !important;
        align-self:center;
        border: 1px solid grey;
        padding: 10px;
        border-radius: 5px;
        background-color:#a6a6a6;
        -webkit-box-shadow: 2px 2px 5px 0px rgba(36,36,36,1);
		-moz-box-shadow: 2px 2px 5px 0px rgba(36,36,36,1);
		box-shadow: 2px 2px 5px 0px rgba(36,36,36,1);
		margin-top: 30px;
		font-family: 'menu';
    }
    .tornarenrere{margin-bottom: 0px !important; margin-left: 50px; margin-top: 50px;}

    button{
    	margin-left: calc(50% - 25px );
    	background-color: #80d4ff !important;
    	width: 125px;
    	align-self:center;
    	font-size: 16px;
    	margin-left: 350px;
    	margin-top: 50px;
    }

    div#ianser_eventobundle_evento div{display: flex;}

    label{
    	width: 50%;
    	align-self:flex-end;
    }

    select{margin-top: 20px;}

    #formuTotal{
    	display: flex;
    	flex-flow:row wrap;

    }

    #formPart1{width: 50%;}
    #formPart2{width: 50%;}

    #blocAdalt{display: flex;}

    .formNombre{margin-top: 20px; display: flex; width: 80%; margin-left: 80px;}

    textarea{resize:none; width: 380px;
    height: 240px;}

    #descripcioInput label{ align-self:flex-start !important;}


</style>


{% endblock %}

{% block js %}

	<script type="text/javascript">



	</script>


{% endblock %}


{% block body -%}

<div id="nouEvento">
    <h1>CREA UN NOU ESDEVENIMENT</h1>
    {{ form_start(form) }}

    <div id="formuTotal">


		    <div id="formPart1">
		    	<div class="formNombre">
		    	{{ form_label(form.nombre) }}{{ form_widget(form.nombre) }}
		   		</div>

		   		<div class="formNombre">
		    	{{ form_label(form.imageFile) }}{{ form_widget(form.imageFile) }}
		    	</div>

		    	<div class="formNombre">
		    	{{ form_label(form.direccion) }}{{ form_widget(form.direccion) }}
		    	</div>

		    	<div class="formNombre">
		    	{{ form_label(form.ciudad) }}{{ form_widget(form.ciudad) }}
		    	</div>

		    	<div class="formNombre">
		    	{{ form_label(form.tipo) }}{{ form_widget(form.tipo) }}
		    	</div>

		    	<div class="formNombre">
		    	{{ form_label(form.aforo) }}{{ form_widget(form.aforo) }}
		    	</div>

		    </div>
		    
		    <div id="formPart2">

		    	<div class="formNombre" id="descripcioInput">
		    	{{ form_label(form.descripcion) }}{{ form_widget(form.descripcion) }}
		   	 	</div>

		   	 	<div class="formNombre">
		    	{{ form_label(form.edad) }}{{ form_widget(form.edad) }}
		    	</div>

		    	<div class="formNombre">
		    	{{ form_label(form.gratuito) }}{{ form_widget(form.gratuito) }}
		    	</div>

		    </div>
    {{ form_end(form) }}
     
        <a class="tornarenrere record_actions" href="{{ path('evento_llistar') }}">
            Tornar a la llista
        </a>

    </div>
    
</div>
{% endblock %}
