{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Eventos list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Dirimagen</th>
                <th>Direccion</th>
                <th>Ciudad</th>
                <th>Descripcion</th>
                <th>Tipo</th>
                <th>Aforo</th>
                <th>Edad</th>
                <th>Gratuito</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for evento in eventos %}
            <tr>
                <td>{{ evento.nombre }}</a></td>
                <td>{{ evento.dirimagen }}</td>
                <td>{{ evento.direccion }}</td>
                <td>{{ evento.ciudad }}</td>
                <td>{{ evento.descripcion }}</td>
                <td>{{ evento.tipo }}</td>
                <td>{{ evento.aforo }}</td>
                <td>{{ evento.edad }}</td>
                <td>{{ evento.gratuito }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('buscador_detall', { 'id': evento.idevento }) }}"> +info</a>
                    </li>
                    <li>
                        <div class="asistencia"> asistir al evento <p style="display:none">{{evento.idevento}}</p></div>
                    </li>
                    <li>
                        <div class="chat"> afegirme al chat <p style="display:none">{{evento.idevento}}</p></div>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block js %}
<script>
$( document ).ready(function() {
    $(".asistencia").click(function(){
        $.ajax
        ({
            type: "GET",
            url: Routing.generate('buscador_asistencia', {'id_evento': $(this).children("p").html()}),
            context: document.body
        }).done(
            function(afegit)
            {
                //NOTA:
                //ESTA FUNCION DEVUELVE TRUE O FALSE DEPENDIENDO DE SI HA AÑADIDO EL EVENTO O LO HA QUITADO, SI ES TRUE ESQUE LO AÑADE Y SINO QUE LO QUITA
                if (afegit=="true"){
                    //CAMBIA LA IMAGEN O ALGO ASI...
                   //foto.attr("src","/images/añadido.png");
                }
                else{
                   //foto.attr("src","/images/desanudañido.png");
                }
            });
    });
    $(".chat").click(function(){
        $.ajax
        ({
            type: "GET",
            url: Routing.generate('buscador_chat', {'id_evento': $(this).children("p").html()}),
            context: document.body
        }).done(
            function(afegit)
            {
                //NOTA:
                //ESTA FUNCION DEVUELVE TRUE O FALSE DEPENDIENDO DE SI HA AÑADIDO EL EVENTO O LO HA QUITADO, SI ES TRUE ESQUE LO AÑADE Y SINO QUE LO QUITA
                if (afegit=="true"){
                    //CAMBIA LA IMAGEN O ALGO ASI...
                   //foto.attr("src","/images/añadido.png");
                }
                else{
                   //foto.attr("src","/images/desanudañido.png");
                }
            });
    });
});    	
</script>
{% endblock %}
