{% extends '::base.html.twig' %}

{% block css %}

<style>

.click:link{color:black;}
.click:visited{color:black;}

</style>


{% endblock %}

{% block body -%}

    <div style="background-color:white;">
    <h1 style="margin-left: 20px;">Llista d'usuaris</h1>

    <table class="records_list" style="border:1px solid black; margin-left: 20px;">
        <thead>
            <tr>
                <th>Username</th>
                <th>Password</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Apellido2</th>
                <th>Ciudad</th>
                <th>Email</th>
                <th>Iduser</th>
                <th> Rols </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for usuari in usuaris %}
            <tr style="border:1px solid black;">
                <td style="border:1px solid black;">{{ usuari.username }}</td>
                <td style="border:1px solid black;">{{ usuari.password|slice(0,5) ~ '...' }}</td>
                <td style="border:1px solid black;">{{ usuari.nombre }}</td>
                <td style="border:1px solid black;">{{ usuari.apellido }}</td>
                <td style="border:1px solid black;">{{ usuari.apellido2 }}</td>
                <td style="border:1px solid black;">{{ usuari.ciudad }}</td>
                <td style="border:1px solid black;">{{ usuari.email }}</td>
                <td style="border:1px solid black;">{{ usuari.iduser }}</td>
                <td style="border:1px solid black;">{{ usuari.roles[0] }}</td>
                <td style="border:1px solid black;">
                <ul>
                   
                    <li>
                        <a class="click" href="{{ path('admin_modificar', { 'id': usuari.iduser }) }}">Editar</a>
                    </li>
                    <li>
                        <a class="click" href="{{ path('admin_eliminar', { 'id': usuari.iduser }) }}">Eliminar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a class="click" href="{{ path('admin_crear') }}">
                Crear un nou usuari
            </a>
        </li>
        <li>
            <a class="click" href="{{ path('admin_portada') }}">Tornar al menú principal </a>
        </li>
    </ul>
</div>
    {% endblock %}
