<html>
<head>
	<title>Ianser</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	
	<link rel="stylesheet" href="{{ asset('css/welcome.css') }}" />
	<script src="{{ asset('js/welcome.js') }}"></script>
	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<script type="text/javascript">

		$( document ).ready(function() {
			$('#ianser_userbundle_userregister_submit').prop( "disabled" , true );
			$('#ianser_userbundle_userregister_submit').css( "opacity" , ".5" );

				$('#ianser_userbundle_userregister_password_second').change(function() {
					var pass1 = $('#ianser_userbundle_userregister_password_first').val();
				 	var pass2 = $('#ianser_userbundle_userregister_password_second').val();

				 	if(pass2 == pass1){

				 		$('#ianser_userbundle_userregister_submit').prop( "disabled" , false );
				 		$('#ianser_userbundle_userregister_submit').css( "opacity" , "1" );
				 		$('#ianser_userbundle_userregister_password_second').css( "backgroundColor" , "transparent" );
				 		$('#ianser_userbundle_userregister_password_second').css( "opacity" , "1" );
				 	}
				 	else{
				 		$('#ianser_userbundle_userregister_password_second').css( "backgroundColor" , "red" );
				 		$('#ianser_userbundle_userregister_password_second').css( "opacity" , ".5" );
				 		$('#ianser_userbundle_userregister_submit').prop( "disabled" , true );
						$('#ianser_userbundle_userregister_submit').css( "opacity" , ".5" );
				 	}
				});
		});



		

	</script>
</head>
<body>
	<div id="CoverVideo" class="">

		<div id="BenvingudaBox">
		<h1>- I' ANSER -</h1>
		<p id="fraseSotaTitol">Eat Sleep Rave Repeat</p>
		{% for flashMessage in app.session.flashbag.get('login_incorrecte') %}
			
                            <div class="errors" style="text-align:center"><span id="errorMiss">
                                {{ flashMessage }}</span>
                            </div>
                        {% endfor %}
		<div id="accions">
			<div id="iniciaSesio">
				<div id="frase"><div id="fraseSpanReg"><span span id="fraseSpan">Inicia sessió en un moment!</span></div></div>
				<div id="buttAcc"><div id="borderSpanAcc" onclick="OpcioIniciSesio();"><span id="buttAccSpan">Inicia sessió</span></div></div>
			</div>

			<div id="space">
			</div>

			<div id="registraUsuari">
				<div id="frase"><div id="fraseSpanReg"><span span id="fraseSpan">Registra't en 0,!</span></div></div>
				<div id="registrar"><div id="borderSpanReg" onclick="OpcioRegistra();"><span span id="registrarSpan">Registra't</span></div></div>
			</div>
		</div>


	</div>

	<div id="IniciaSesioAcc">
		<i class="fa fa-times fa-3x" id="tencaIniciSesio" aria-hidden="true"></i>
		<h1 id="ianserLogIN">- I' ANSER -</h1>
		<div id="inputsAcc">
			
			<form action="{{ path('usuario_login_check') }}" method="post">
			
			<div id="userdiv"><input type="text" id="username" name="_username"
			value="{{ last_username }}"  placeholder="Username"></div>
			
			<div id="passdiv"><input type="password" id="password" name="_password" placeholder="Password"/></div>
			<div id="checkdiv"><input type="checkbox" id="no_cerrar" name="_remember_me" checked />
			<label for="no_cerrar">Recorda'm</label></div>
			<div id="errordiv"><div id="ErrorLogin"><span id="ErrorLoginSpan">Usuari o contrasenya incorrectes.</span></div></div>
			<div id="botoAceptarLogIn"><input type="submit" id="BotoEntrarSpan" name="login" value="Accedeix" /></div>

			</form>
		</div>
	</div>

	<div id="RegistraUsuari2">
		<i class="fa fa-times fa-3x" id="tencaRegistre" aria-hidden="true"></i>
		<h1 id="ianserRegistre">- I' ANSER -</h1>
		{{ form_start(form) }}

    <div id="formuTotal">


            <div id="formPart1">

                <div class="formNombre">
                {{ form_label(form.nombre) }}{{ form_widget(form.nombre) }}
                </div>

                <div class="formNombre">
                {{ form_label(form.apellido) }}{{ form_widget(form.apellido) }}
                </div>

                <div class="formNombre">
                {{ form_label(form.apellido2) }}{{ form_widget(form.apellido2) }}
                </div>

                <div class="formNombre">
                {{ form_label(form.ciudad) }}{{ form_widget(form.ciudad) }}
                </div>

                <div class="formNombre">
                {{ form_label(form.email) }}{{ form_widget(form.email) }}
                </div>

                <div class="formNombre">
                {{ form_label(form.username) }}{{ form_widget(form.username) }}
                </div>

                <div class="formNombre">
                {{ form_row(form.password.first) }}
                </div>

                <div class="formNombre" id="secondPass">
                {{ form_row(form.password.second) }}
                </div>

                {{ form_end(form) }}


            </div>
    </div>
	</div>

	

	</div>
	


	
		<iframe id="Fullframe" src="https://www.youtube.com/embed/1-sVz6c30PM?iv_load_policy=3&amp;showinfo=0&amp;controls=0&amp;color=white&amp;autohide=1&amp;version=3&amp;loop=1&amp;playlist=player_304_827256952_127906349&amp;wmode=opaque&amp;rel=0&amp;hd=1&amp;videoid=1-sVz6c30PM&amp;autoplay=1&amp;html5=1&amp;widget_referrer=https%3A%2F%2Fwww.google.es%2F&amp;enablejsapi=1&amp;origin=http%3A%2F%2Fwww.agenciaumbrella.com"></iframe>


	
	
</body>
</html>