<html>
<head>
	<title>Ianser</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	
	<link rel="stylesheet" href="{{ asset('css/welcome.css') }}" />
	<script src="{{ asset('js/welcome.js') }}"></script>
	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

</head>
<body>
	<div id="CoverVideo" class="">

		<div id="BenvingudaBox">
		<h1>- I' ANSER -</h1>
		<p id="fraseSotaTitol">Eat Sleep Rave Repeat</p>
		
		<div id="accions">
			<div id="iniciaSesio">
				<div id="buttFB"><div id="borderSpanFB"><span id="buttFBSpan">Inicia sessio amb facebook</span></div></div>
				<div id="buttAcc"><div id="borderSpanAcc" onclick="OpcioIniciSesio();"><span id="buttAccSpan">Inicia sessio amb compte</span></div></div>
			</div>

			<div id="space">
			</div>

			<div id="registraUsuari">
				<div id="frase"><div id="fraseSpanReg"><span span id="fraseSpan">Registra't en 0,!</span></div></div>
				<div id="registrar"><div id="borderSpanReg" onclick="OpcioRegistra();"><span span id="registrarSpan">Registrar usuari</span></div></div>
			</div>
		</div>


	</div>

	<div id="IniciaSesioAcc">
		<i class="fa fa-times fa-3x" id="tencaIniciSesio" aria-hidden="true"></i>
		<h1 id="ianserLogIN">- I' ANSER -</h1>
		<div id="inputsAcc">
			{% for flashMessage in app.session.flashbag.get('login_incorrecte') %}
                            <div class="errors">
                                {{ flashMessage }}
                            </div>
                        {% endfor %}
			<form action="{{ path('usuario_login_check') }}" method="post">
			
			<div id="userdiv"><input type="text" id="username" name="_username"
			value="{{ last_username }}"  placeholder="Username"></div>
			
			<div id="passdiv"><input type="password" id="password" name="_password" placeholder="Password"/></div>
			<div id="checkdiv"><input type="checkbox" id="no_cerrar" name="_remember_me" checked />
			<label for="no_cerrar">No cerrar sesión</label></div>
			<div id="errordiv"><div id="ErrorLogin"><span id="ErrorLoginSpan">Usuari o contrasenya incorrectes.</span></div></div>
			<div id="botoAceptarLogIn"><input type="submit" id="BotoEntrarSpan" name="login" value="Acceder" /></div>

			</form>
		</div>
	</div>

	<div id="RegistraUsuari2">
		<i class="fa fa-times fa-3x" id="tencaRegistre" aria-hidden="true"></i>
		<h1 id="ianserRegistre">- I' ANSER -</h1>
		{{ form_start(form) }}

    <div id="formuTotal">


            <div id="formPart1">

                <div class="formNombre">
                {{ form_label(form.nombre) }}{{ form_widget(form.nombre) }}
                </div>

                <div class="formNombre">
                {{ form_label(form.apellido) }}{{ form_widget(form.apellido) }}
                </div>

                <div class="formNombre">
                {{ form_label(form.apellido2) }}{{ form_widget(form.apellido2) }}
                </div>

                <div class="formNombre">
                {{ form_label(form.ciudad) }}{{ form_widget(form.ciudad) }}
                </div>

                <div class="formNombre">
                {{ form_label(form.email) }}{{ form_widget(form.email) }}
                </div>

                <div class="formNombre">
                {{ form_row(form.password.first) }}
                </div>

                <div class="formNombre">
                {{ form_row(form.password.second) }}
                </div>

                {{ form_end(form) }}


            </div>
    </div>
	</div>

	

	</div>
	


	<iframe id="Fullframe" src="https://www.youtube.com/embed/1-sVz6c30PM?iv_load_policy=3&showinfo=0&controls=0&color=white&autohide=1&version=3&loop=1&playlist=player_304_812456813_1727842840&rel=0&hd=2&videoid=1-sVz6c30PM&autoplay=1&html5=1">

	</iframe>

	
</body>
</html>